{% extends "submit_url/layout.html" %}

{% block title %}
    Find similar companies
{% endblock %}

{% block body %}
  
  <div class="description">
    <!-- description of what the website is about -->
    <h2>Welcome to Similar Company Finder</h2>
    <p>This website will help you identify new sales leads. 
      To use, simply paste in a name of a client and we will output 
      a list of clients that are similar to the input company. 
      Then you can contact them with your offers. 
    </p>
  </div>

  <div class="input">
    <!-- input field to submit name of a company -->
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <label>Enter the name of a company:</label><br>
      <input class="input_box" type="text" id="input_field" name="input_field" placeholder="i.e. Apple"><br>
      <input class="input_submit" type="submit" value="Search">
    </form>
  </div>

  <div class="output">
    <!-- output field to display list of similar companies -->
    {% if output_companies %}
      <ul class="output_list">
      {% for cmp_id, cmp_info in output_companies.items %}
        <li class="output_element">{{ cmp_id }}. {{ cmp_info.name }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

{% endblock %}
